  
.header-content {
  gap: 20px; 
  display: flex;
  align-items: center;
  width: 250%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px; 
  background-color: #f8f9fa;
  z-index: 1000;
  overflow-y: auto;
  
}

.KoiDeli{
  margin-left: -100px;
  color: white;
}

.dashboard {
  margin-left: 300px; 
  margin-top: -10px;
  padding: 20px;
  background-color: #ffffff;
  z-index: 1000; 

}

.dashboard header input.form-control {
  margin-right: 10px;
}

.overview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.overview .card {
  padding: 20px;
  width: 23%;
  text-align: center;
  border-radius: 10px;
}

.overview .card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.overview .card p {
  font-size: 16px;
}

.card.fail {
  background-color: #EEE8AA;
}

.card.total-orders{
  background-color: #A1A7FF;
}

.card.delivering {
  background-color: #C4D0BA;
}

.card.approving {
  background-color: #A1A7FF;
}

.ongoing-delivery {
  display: flex;
  gap: 20px;
}

.ongoing-delivery h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.delivery-list {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.delivery-item {
  padding: 10px;
}

.delivery-item:last-child {
  border-bottom: none;
}

.search-bar{
  flex: 1;/* phát triển cùng với trang*/
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;/*thu gọn thanh tìm kiếm , để thanh tìm kiếm shrink(co lai)*/
}

.search-bar::placeholder {
  font-family:Arial;
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family:  Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.notification-icon {
    
    position: relative;
    cursor: pointer;
    font-size: 1.9rem; 

}
  
.notification-icon .notification-text {
    display: none;
    position: absolute;
    top: 50%;
    right: -80px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
  
.notification-icon:hover .notification-text {
    display: block; 
}
  
