.container-fluid {
  display: flex;
  width: 100%;
  height: 100vh;
  margin:-50px;

}
.row {
  flex: 1;
  margin: 0;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 330px; 
  height: 100%; 
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
}

.manager-sidebar{
  width: 250px;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-left: 70px;
  
}

.sidebar .profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidebar a {
  display: flex; 
  align-items: center; 
  white-space: nowrap; 
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

ul.list-unstyled li a {
  color: #fff;
  padding: 10px;
  display: block;
  text-decoration: none;
}

ul.list-unstyled li a:hover {
  background-color: #495057;
  text-decoration: none;
}

.dashboard {
  flex-grow: 1;
  background-color: #fff;
  border-left: 1px solid #ddd;
  margin-left: 500px;
}
.KoiLogo{
  position: absolute;     
  left: 200px; 
  top: 10px;        
  font-size: 20px;    
  color: #fff;   
  padding-left: 50px;     
 
}
.title{
  margin-top: 20px;
}
.dashboard header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard header h1 {
  margin: 0;
  font-size: 24px;
}

.avatar{
  margin-top: 15px;
}

.overview {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.overview .card {
  padding: 20px;
  width: 23%;
  text-align: center;
  border-radius: 10px;
}

.overview .card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.overview .card p {
  font-size: 16px;
}

.card.total-employee {
  background-color: #EEE8AA;
}

.card.total-orders{
  background-color: #A1A7FF;
}

.card.total-customers {
  background-color: #C4D0BA;
}

.card.revenue {
  background-color: #A1A7FF;
}

.ongoing-employee {
  display: flex;
  gap: 20px;
}

.ongoing-employee h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.delivery-list {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.delivery-item {
  padding: 10px;
}

.delivery-item:last-child {
  border-bottom: none;
}

.delivery-item p {
  margin: 0;
  font-size: 14px;
}

.sales-list {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.statistics .row {
  display: flex;
  align-items: stretch;
}

.chart, .profits {
  flex: 1;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profits{
  max-width: 400px;
}

